@font-face {
  font-family: 'Sverdlovsk';
  src: url('/assets/fonts/Sverdlovsk.eot');
  src: url('/assets/fonts/Sverdlovsk.eot') format('embedded-opentype'),
  url('/assets/fonts/Sverdlovsk.woff2') format('woff2'),
  url('/assets/fonts/Sverdlovsk.woff') format('woff'),
  url('/assets/fonts/Sverdlovsk.ttf') format('truetype'),
  url('/assets/fonts/Sverdlovsk.svg#Sverdlovsk') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/assets/fonts/Gilroy-Bold.eot');
  src: url('/assets/fonts/Gilroy-Bold.eot') format('embedded-opentype'),
  url('/assets/fonts/Gilroy-Bold.woff2') format('woff2'),
  url('/assets/fonts/Gilroy-Bold.woff') format('woff'),
  url('/assets/fonts/Gilroy-Bold.ttf') format('truetype'),
  url('/assets/fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/assets/fonts/Gilroy-Regular.eot');
  src: url('/assets/fonts/Gilroy-Regular.eot') format('embedded-opentype'),
  url('/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
  url('/assets/fonts/Gilroy-Regular.woff') format('woff'),
  url('/assets/fonts/Gilroy-Regular.ttf') format('truetype'),
  url('/assets/fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oks-Free';
  src: url('/assets/fonts/Oks-Free.eot');
  src: url('/assets/fonts/Oks-Free.eot') format('embedded-opentype'),
  url('/assets/fonts/Oks-Free.woff2') format('woff2'),
  url('/assets/fonts/Oks-Free.woff') format('woff'),
  url('/assets/fonts/Oks-Free.ttf') format('truetype'),
  url('/assets/fonts/Oks-Free.svg#Oks-Free') format('svg');
  font-weight: 400;
  font-style: normal;
}


