@use "sass:math";

@mixin anim($time, $params...) {
  $easing: ease;
  $_params: ();
  @each $param_item in $params {
    $_params: append($_params, $param_item $time $easing, comma);
  }
  transition: $_params;
}
