@use "sass:math";

//colors
$main: #004236;

// mixins
@mixin anim($time, $params...) {
  $easing: ease;
  $_params: ();
  @each $param_item in $params {
    $_params: append($_params, $param_item $time $easing, comma);
  }
  transition: $_params;
}

@mixin d100() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// anim
@keyframes animation-click {
  0% {
    width: 10rem;
    height: 10rem;
  }
  50% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 10rem;
    height: 10rem;
  }
}

@keyframes animation-up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
